@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@layer base {
    h1 {
        @apply mt-5 font-display text-5xl font-semibold;
    }
    h2 {
        @apply mt-3 font-display text-3xl font-semibold text-primary;
    }
    h3 {
        @apply mt-3 font-display text-2xl font-semibold;
    }

    ol,
    ul {
        list-style: disc;
        margin-left: 1.25rem;
        padding: 0;
    }
    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
        line-height: 2em;
    }
}

@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 262.1 0% 100%;
        --foreground: 262.1 0% 10%;
        --card: 224.10000000000002 10% 95%;
        --card-foreground: 262.1 0% 15%;
        --popover: 262.1 0% 100%;
        --popover-foreground: 262.1 95% 10%;
        --primary: 262.1 88.3% 57.8%;
        --primary-foreground: 0 0% 100%;
        --secondary: 262.1 10% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: 224.10000000000002 10% 95%;
        --muted-foreground: 262.1 0% 40%;
        --accent: 224.10000000000002 10% 90%;
        --accent-foreground: 262.1 0% 15%;
        --destructive: 0 50% 50%;
        --destructive-foreground: 262.1 0% 100%;
        --border: 262.1 20% 88%;
        --input: 262.1 20% 50%;
        --ring: 262.1 88.3% 57.8%;
        --radius: 1rem;
    }
    .dark {
        --background: 262.1 10% 5%;
        --foreground: 262.1 0% 90%;
        --card: 224.10000000000002 10% 8%;
        --card-foreground: 262.1 0% 90%;
        --popover: 262.1 10% 5%;
        --popover-foreground: 262.1 0% 90%;
        --primary: 262.1 88.3% 57.8%;
        --primary-foreground: 0 0% 100%;
        --secondary: 262.1 10% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 224.10000000000002 10% 8%;
        --muted-foreground: 262.1 0% 60%;
        --accent: 224.10000000000002 10% 15%;
        --accent-foreground: 262.1 0% 90%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 262.1 0% 90%;
        --border: 262.1 20% 18%;
        --input: 262.1 20% 18%;
        --ring: 262.1 88.3% 57.8%;
        --radius: 1rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
